.product-details{
    word-break: break-word;
    text-rendering: optimizeLegibility;
    font-size: 24px !important;
    line-height: 32px !important;
    position: relative;
    left:430px;
    bottom: 300px;
}
.imd-div-class{
    margin-top:100px;
    margin-left:20px;
}
.visit{
    color:#2162a1;
    font-size: 14px;
    position: relative;
    left:430px;
    bottom: 300px;
    text-decoration: none;
    
}
.outerdiv{
    margin-top:10px;
    position: relative;
    left:430px;
    bottom: 300px;
}
.first{
    display: inline-block;
    font-weight: 700;
}
.by-line{
    padding-left: 4px;
    padding-right: 4px;
}
.second{
    display: inline-block;
}

.secondinnerdiv{
    position:relative;
    left:135px;
    bottom:18px;
}

.third{
    color:#2162a1;
    font-size: 14px;
}
.rating{
    position: relative;
    left:430px;
    bottom: 310px;
}
hr{
    background-color: transparent;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top: 1px solid #d5d9d9;
    display: block;
    height: 1px;
    line-height: 19px;
    margin-bottom: 14px;
    margin-top: 0;
    position: relative;
    left:430px;
    bottom: 290px;
}
.price{
    margin-bottom: 22px;
}
.price{
    position: relative;
    left:430px;
    bottom: 290px;
}
.pricespan{
    font-size:30px;
}
.btn-add-bag{
    font-size:25px;
    height:30px;
    width:340px;
    background-color: rgb(230, 217, 49);
    border:none;
    font-weight:500;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    position: relative;
    bottom:280px;
    left:20px;
    
}
li{
    margin-top:10px;
    color: var(--__N4QdCheV6mGo, #0f1111);
}
.lists{
    position: relative;
    left:420px;
    bottom: 320px;

}
.btn-add-bag:hover{
    border:2px solid orange;
}
